<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Report</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="job_launcher_report">
    <h2>Job launcher report</h2>
    <p>Jenkins server: {{ url }}<P>
    <table>
        <tbody>
            <tr>
                <th>Number</th>
                <th>Status</th>
                <th>Timestamp</th>
                <th>Duration</th>
            </tr>
            {% for build in builds %}
            <tr>
                <th>{{ cur_job.get_build(build).get_number() }}</th>
                <th>{{ cur_job.get_build(build).get_status() }}</th>
                <th>{{ cur_job.get_build(build).get_timestamp() }}</th>
                <th>{{ cur_job.get_build(build).get_duration() }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>   
</body>


<style type="text/css">
  .job_launcher_report table {
      border-collapse:collapse;
  }
  
  .job_launcher_report table td, .job_launcher_report table th {
      border:1px solid #000000;
      padding:0 3px 0 3px;
  }
  </style>
</html>

  
  